@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Portland_Vase_V%26A.jpg" width="150" style="float:left;"/>
    <p>Vases is a decorative container,  It can be made from a number of materials, such as ceramics, glass, non-rusting metals, such as aluminium, brass, bronze, or stainless steel. Even wood has been used to make vases, either by using tree species that naturally resist rot, such as teak, or by applying a protective coating to conventional wood or plastic. Vases are often decorated, and they are often used to hold cut flowers. Vases come in different sizes to support whatever flower it is holding or keeping in place.</p>
    <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1563290567-pure-black-ceramic-vases-c.jpg?crop=0.572xw:0.859xh;0.428xw,0.0956xh&resize=768:*" width="150" style="float:right;"/>
    <p>There are many types of material that vases can be made out from. It can be made from Glass, Crystals, Metal, Plastic, Wood, etc. They can also be any shape, whether it be a vertical box vases, cylinder vases, bouquet vases, and much more!</p>
    <img src="https://m.media-amazon.com/images/I/51k4l-k4FkL._AC_SL1024_.jpg" width="100" />
    <p><a href="https://en.wikipedia.org/wiki/Vase">Learn More about Vases here</a></p>
</div>
