@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">You can learn a lot more about Vases here!</a>.</p>
</div>
