@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NguyensVases</h1>
    <p><a href="https://en.wikipedia.org/wiki/Vase">Learn More about Vases here</a></p>
    
    <img src="https://m.media-amazon.com/images/I/51k4l-k4FkL._AC_SL1024_.jpg" width="350" />
</div>
